---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="The official website for the band, Ursa Day! Listen to our music, get tickets for upcoming shows, and reach out to us!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#bba147">
    <meta name="msapplication-TileColor" content="#3668d3">
    <meta name="theme-color" content="#3668d3">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&family=Yanone+Kaffeesatz:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles1.css">
    <script type="text/javascript" src="/assets/js/navbar.js" defer></script>
    <script type="text/javascript" src="/assets/js/music.js" defer></script>
    <script type="text/javascript" src="/assets/js/shows.js" defer></script>
    <script>
      const mailerlite_api_key = '{{ site.MAILERLITE_API_KEY }}';
      const mailerlite_group_id = '{{ site.MAILERLITE_GROUP_ID }}';
    </script>
    <!-- <script type="text/javascript" src="/assets/js/mailing-list.js" defer></script> -->
    <script src="https://groot.mailerlite.com/js/w/webforms.min.js?v08a893c96141fbc55feeeeac1fda7508" type="text/javascript"></script>
    <script>fetch("https://assets.mailerlite.com/jsonp/364298/forms/82585114963346564/track-view")</script>
    <!-- MailerLite Universal -->
    <script>
      (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
      .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
      n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
      (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
      ml('account', '364298');
    </script>
    <!-- End MailerLite Universal -->
    <title>Ursa Day</title>
  </head>
  <body>
    {% include navbar.html %}
    <div id="content">
      {% include home.html %}
      {% include mailing-list.html %}
      {% include about.html %}
      {% include music.html %}
      {% include shows.html %}
      {% include contact.html %}
      {% include footer.html %}
    </div>
  </body>
</html>