---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#bba147">
    <meta name="msapplication-TileColor" content="#3668d3">
    <meta name="theme-color" content="#3668d3">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script type="text/javascript" src="/assets/js/navbar.js" defer></script>
    <script type="text/javascript" src="/assets/js/music.js" defer></script>
    <title>Ursa Day</title>
  </head>
  <body>
    {% include navbar.html %}
    {% include socials.html %}
    <div id="content">
      {% include home.html %}
      {% include music.html %}
      {% include shows.html %}
      <!-- {% include about.html %} -->
      {% include contact.html %}
    </div>
  </body>
</html>