{% include section-start.html name="about" header="What We're All About" darken-image-right="true" %}

    <p id="band-about">Ursa Day is a rock quartet helming an eclectic sound with vintage blues and modern indie-rock influences. Ursa Day’s sound is a mix of Haley's low-baritone vocal delivery, the subdued and snappy direction of Egan from behind the drum throne, and an overdriven guitar presence that blend influence from The Jeff Beck Group, and The Strokes.</p>

{% include section-end.html %}