{% include section-start.html name="about" header="What We're All About" darken-image-right="true" %}

    <p id="band-about">Ursa Day is a rock quartet helming an eclectic sound with vintage blues and modern indie-rock influences. Ursa Day’s sound is a mix of Haley's low-baritone vocal delivery, the subdued and snappy direction of Egan from behind the drum throne, and an overdriven guitar presence that blend influence from The Jeff Beck Group, and The Strokes.</p>

    <!-- <p id="band-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, dolores facere repellat quasi, voluptatum, iusto neque vel commodi ut nemo assumenda unde perferendis est expedita! Eius repellat ut saepe quidem?</p>
    <div id="band-members-container">
        {% for member in site.data.band-members %}
            <div class="band-member">
                <img src="/assets/images/{{ member.picture-filename }}" alt="Image of band member" class="band-member-picture">
                <div class="band-member-name-and-instrument">
                    <h3 class="band-member-name serif-font">{{ member.name }}
                        <span class="thin-font">{{ member.first-name }} </span><span class="bold-font primary-color">{{ member.last-name }}</span>
                    </h3>
                    <p class="sub-text">{{ member.instrument }}</p>
                </div>
                <p class="band-member-about">{{ member.about }}</p>
            </div>
        {% endfor %}
    </div> -->
{% include section-end.html %}