
<div id="footer">
    <div id="footer__grid" class="d-grid grid--3-columns gap-5">
        <div class="d-flex flex-direction-column justify-content-between">
            <img id="footer__logo" src="/assets/images/walkingBearWhiteSvg.svg" />
            <a id="footer__email" href="mailto:ursadayband@gmail.com">ursadayband@gmail.com</a>
        </div>
        <div class="d-flex flex-direction-column justify-content-between">
            <h3 class="sub-header-font text-center pb-4">Follow Us</h3>
            <div class="d-flex justify-content-between">
                <a href="https://www.facebook.com/UrsaDayBand" target="_blank">
                    <svg class="social-media-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g data-name="facebook fb face book" id="facebook_fb_face_book"><path d="M24,3H8A5,5,0,0,0,3,8V24a5,5,0,0,0,5,5h8a1,1,0,0,0,1-1V20a1,1,0,0,0-1-1H15V17h1a1,1,0,0,0,1-1V12.5A2.5,2.5,0,0,1,19.5,10H22v2H21a2,2,0,0,0-2,2v2a1,1,0,0,0,1,1h1.72l-.5,2H20a1,1,0,0,0-1,1v4a1,1,0,0,0,2,0V21h1a1,1,0,0,0,1-.76l1-4a1,1,0,0,0-.18-.86A1,1,0,0,0,23,15H21V14h2a1,1,0,0,0,1-1V9a1,1,0,0,0-1-1H19.5A4.51,4.51,0,0,0,15,12.5V15H14a1,1,0,0,0-1,1v4a1,1,0,0,0,1,1h1v6H8a3,3,0,0,1-3-3V8A3,3,0,0,1,8,5H24a3,3,0,0,1,3,3V24a3,3,0,0,1-3,3H20a1,1,0,0,0,0,2h4a5,5,0,0,0,5-5V8A5,5,0,0,0,24,3Z"/></g></svg>
                </a>
                <a href="https://www.instagram.com/ursadayband/" target="_blank">
                    <svg class="social-media-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g data-name="ig instagram insta photo" id="ig_instagram_insta_photo"><path d="M20.45,13.32a1,1,0,0,0-.57,1.3,4,4,0,1,1-2.31-2.3,1,1,0,1,0,.71-1.87,6,6,0,0,0-6.37,9.85,6,6,0,0,0,8.48,0,6,6,0,0,0,1.36-6.41A1,1,0,0,0,20.45,13.32Z"/><circle cx="23" cy="9" r="1"/><path d="M28,9a5,5,0,0,0-4.9-5h0A77.11,77.11,0,0,0,9,4,5,5,0,0,0,4,8.92,91.91,91.91,0,0,0,4,23a5,5,0,0,0,4.9,5h0c2.36.22,4.73.34,7.1.34s4.71-.11,7.05-.34A5,5,0,0,0,28,23.08,87.09,87.09,0,0,0,28,9ZM26,23a3,3,0,0,1-3,3h-.1A71.73,71.73,0,0,1,9,26a3,3,0,0,1-3-3.08A92.4,92.4,0,0,1,6,9,3,3,0,0,1,9.09,6q3.44-.31,6.9-.32T23,6a3,3,0,0,1,3,3.08A85.13,85.13,0,0,1,26,23Z"/></g></svg>
                </a>
                <a href="https://music.apple.com/us/artist/ursa-day/1666129894" target="_blank">
                    <svg class="social-media-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#231f20;}</style></defs><title/><g data-name="Apple Music" id="Apple_Music"><path d="M25.41,3.47a1,1,0,0,0-.81-.22L9.83,5.85a1,1,0,0,0-.83,1V26a2.3,2.3,0,0,1-2.5,2A2.3,2.3,0,0,1,4,26a2.3,2.3,0,0,1,2.5-2,1,1,0,0,0,0-2A4.28,4.28,0,0,0,2,26a4.27,4.27,0,0,0,4.5,4A4.27,4.27,0,0,0,11,26V13.77l12.77-2.25V18.1c0,1.3-.4,2-2.5,2-3.32,0-4.5,2.07-4.5,4a4.27,4.27,0,0,0,4.5,4,4.27,4.27,0,0,0,4.5-4V4.23A1,1,0,0,0,25.41,3.47ZM23.77,24.1a2.3,2.3,0,0,1-2.5,2,2.3,2.3,0,0,1-2.5-2c0-1.35.82-2,2.5-2a6.11,6.11,0,0,0,2.5-.45ZM11,7.68,23.77,5.42V9.49L11,11.74Z"/></g></svg>
                </a>
                <a href="https://open.spotify.com/artist/6vzKrpZk9YgADLTkfCvJoN" target="_blank">
                    <svg class="social-media-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g data-name="spotify music podcast audio" id="spotify_music_podcast_audio"><path d="M16,3a13,13,0,0,0-5.45,24.81A1,1,0,1,0,11.39,26,11,11,0,1,1,16,27a1,1,0,0,0,0,2A13,13,0,0,0,16,3Z"/><path d="M23.1,14.57a1,1,0,0,0,.49.13,1,1,0,0,0,.49-1.87c-4-2.27-9.24-2.84-15.56-1.73a1,1,0,0,0-.81,1.16,1,1,0,0,0,1.16.81C14.72,12,19.5,12.54,23.1,14.57Z"/><path d="M9.66,17c4.88-1.08,8.86-.56,11.85,1.54a1,1,0,0,0,.58.19,1,1,0,0,0,.82-.43,1,1,0,0,0-.24-1.39c-3.47-2.45-8-3.07-13.44-1.87a1,1,0,0,0,.43,2Z"/><path d="M10.52,20.79c3.8-.77,6.89-.4,9.2,1.09a1,1,0,0,0,.54.16,1,1,0,0,0,.54-1.84C18,18.41,14.45,18,10.13,18.83a1,1,0,1,0,.39,2Z"/></g></svg>
                </a>
                <a href="https://www.youtube.com/channel/UC6ZWh-byUSMmmjYaXwAbF5g" target="_blank">
                    <svg class="social-media-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g data-name="youtube youtuber video play" id="youtube_youtuber_video_play"><path d="M30,12a5.71,5.71,0,0,0-5.31-5.7C18.92,6,13.06,6,7.33,6.28,4.51,6.28,2,9,2,12a43.69,43.69,0,0,0,0,8.72,5.32,5.32,0,0,0,5.28,5.33h0q4.35.24,8.72.24t8.67-.23A5.34,5.34,0,0,0,30,20.8,31.67,31.67,0,0,0,30,12Zm-2,8.63a.49.49,0,0,0,0,.12,3.36,3.36,0,0,1-3.39,3.34,166,166,0,0,1-17.28,0A3.36,3.36,0,0,1,4,20.65a42,42,0,0,1,0-8.47.45.45,0,0,0,0-.11A3.78,3.78,0,0,1,7.38,8.28c2.86-.13,5.74-.19,8.62-.19s5.76.06,8.62.19h.05c1.71,0,3.33,1.84,3.33,3.79a.76.76,0,0,0,0,.15A30.11,30.11,0,0,1,28,20.61Z"/><path d="M20.79,15.51l-7.14-3.68a1,1,0,1,0-.92,1.78l5.43,2.79-4,2.07V16.4a1,1,0,0,0-2,0v3.72a1,1,0,0,0,1,1,1,1,0,0,0,.46-.11l7.14-3.72a1,1,0,0,0,.54-.89A1,1,0,0,0,20.79,15.51Z"/></g></svg>
                </a>
            </div>
        </div>
        <div id="footer__form" class="d-flex flex-direction-column justify-content-between ml-auto">
            <h3 id="footer__subscribe" class="sub-header-font text-right pb-4">Subscribe</h3>
            <!-- This specific id and class are NEEDED for the form to work properly -->
            <div id="mlb2-4008849" class="ml-subscribe-form">
                <form id="mailing-list-form--footer" class="mailing-list-form ml-block-form" action="https://assets.mailerlite.com/jsonp/364298/forms/82585114963346564/subscribe" data-code="" method="post" target="_blank">
                    <div id="mailing-list-input-wrapper" class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                        <input id="email-input" class="mailing-list-input-wrapper__input" type="email" required data-inputmask="" name="fields[email]" placeholder="EMAIL" autocomplete="email">
                        <div id="mailing-list-subscribe-wrapper">
                            <button type="submit" class="primary mailing-list-subscribe-wrapper__button">SUBMIT</button>
                            <button disabled="disabled" style="display: none;" type="button" class="loading mailing-list-subscribe-wrapper__button">
                                <div class="ml-form-embedSubmitLoad"></div>
                                <span class="sr-only">Loading...</span>
                            </button>
                        </div>
                    </div>
                    <input type="hidden" name="anticsrf" value="true">
                </form>
                <div id="mailing-list-success--footer" class="mailing-list-success mailing-list-success--footer" style="display: none;">
                    <p>You're in! We hope to see you at the next show!</p>
                </div>
            </div>
        </div>
    </div>
</div>