<section id="home">
    <div id="homeFlex">
        <div id="smallLogoWrapper">
            <a id="smallLogo" href="#home" onclick="ChangePage('home')">
              <img src="../assets/images/ursaDayPawWithYellowBackground2.png" />
            </a>
          </div>
        <div id="news">
           <div id="newsBackground" class="frostedGlass">
               <h2 id="newEP">New EP</h2>
               <h3 id="hibernation">HIBERNATION</h3>
               <span class="subText">Coming Soon</span>
           </div>
       </div>
    </div>
</section>