<section id="home">
  <div class="darken-image-left">
    <div id="hero" class="section-container">
        <h1><img id="logo-text" src="/assets/images/ursaDayTextWhite.png" alt="Ursa Day"/></h1>
        <h2 id="news" class="sub-header-font">Our First Headlining Show!<br><b>Sunday, September 2nd</b><br>at Lager House in Detroit</h2>
        <a target="_blank" href="https://www.ticketweb.com/event/ursa-day-routine-fuss-saving-lager-house-tickets/13326008?pl=kickstand">
          <button id="btn-call-to-action">TICKETS HERE</button>
        </a>
    </div>
  </div>
</section>