<section id="home">
  <div id="homeFlex">
      <div id="logo-wrapper">
          <a id="logo" href="#home" onclick="ChangePage('home')">
            <img src="../assets/images/ursaDayStickerWhiteBorderYellowBackground.png" />
          </a>
        </div>
      <div id="news">
        <div id="news-info">
          <p>New EP</p>
          <p>January 25th</p>
        </div>
        <div id="home-page-cover-art-wrapper">
          <img id="home-page-cover-art" src="../assets/images/habitatCoverArt.jpg" alt="bear in woods" />
        </div>
      </div>
  </div>
</section>