{% include section-start.html name="music" header="Give Us A Listen" darken-image="true" %}
<div id="music-section-music-icons" class="d-flex justify-content-between">
    <a href="https://music.apple.com/us/artist/ursa-day/1666129894" target="_blank">
        <svg class="social-media-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#231f20;}</style></defs><title/><g data-name="Apple Music" id="Apple_Music"><path d="M25.41,3.47a1,1,0,0,0-.81-.22L9.83,5.85a1,1,0,0,0-.83,1V26a2.3,2.3,0,0,1-2.5,2A2.3,2.3,0,0,1,4,26a2.3,2.3,0,0,1,2.5-2,1,1,0,0,0,0-2A4.28,4.28,0,0,0,2,26a4.27,4.27,0,0,0,4.5,4A4.27,4.27,0,0,0,11,26V13.77l12.77-2.25V18.1c0,1.3-.4,2-2.5,2-3.32,0-4.5,2.07-4.5,4a4.27,4.27,0,0,0,4.5,4,4.27,4.27,0,0,0,4.5-4V4.23A1,1,0,0,0,25.41,3.47ZM23.77,24.1a2.3,2.3,0,0,1-2.5,2,2.3,2.3,0,0,1-2.5-2c0-1.35.82-2,2.5-2a6.11,6.11,0,0,0,2.5-.45ZM11,7.68,23.77,5.42V9.49L11,11.74Z"/></g></svg>
    </a>
    <a href="https://open.spotify.com/artist/6vzKrpZk9YgADLTkfCvJoN" target="_blank">
        <svg class="social-media-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g data-name="spotify music podcast audio" id="spotify_music_podcast_audio"><path d="M16,3a13,13,0,0,0-5.45,24.81A1,1,0,1,0,11.39,26,11,11,0,1,1,16,27a1,1,0,0,0,0,2A13,13,0,0,0,16,3Z"/><path d="M23.1,14.57a1,1,0,0,0,.49.13,1,1,0,0,0,.49-1.87c-4-2.27-9.24-2.84-15.56-1.73a1,1,0,0,0-.81,1.16,1,1,0,0,0,1.16.81C14.72,12,19.5,12.54,23.1,14.57Z"/><path d="M9.66,17c4.88-1.08,8.86-.56,11.85,1.54a1,1,0,0,0,.58.19,1,1,0,0,0,.82-.43,1,1,0,0,0-.24-1.39c-3.47-2.45-8-3.07-13.44-1.87a1,1,0,0,0,.43,2Z"/><path d="M10.52,20.79c3.8-.77,6.89-.4,9.2,1.09a1,1,0,0,0,.54.16,1,1,0,0,0,.54-1.84C18,18.41,14.45,18,10.13,18.83a1,1,0,1,0,.39,2Z"/></g></svg>
    </a>
    <a href="https://www.youtube.com/channel/UC6ZWh-byUSMmmjYaXwAbF5g" target="_blank">
        <svg class="social-media-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g data-name="youtube youtuber video play" id="youtube_youtuber_video_play"><path d="M30,12a5.71,5.71,0,0,0-5.31-5.7C18.92,6,13.06,6,7.33,6.28,4.51,6.28,2,9,2,12a43.69,43.69,0,0,0,0,8.72,5.32,5.32,0,0,0,5.28,5.33h0q4.35.24,8.72.24t8.67-.23A5.34,5.34,0,0,0,30,20.8,31.67,31.67,0,0,0,30,12Zm-2,8.63a.49.49,0,0,0,0,.12,3.36,3.36,0,0,1-3.39,3.34,166,166,0,0,1-17.28,0A3.36,3.36,0,0,1,4,20.65a42,42,0,0,1,0-8.47.45.45,0,0,0,0-.11A3.78,3.78,0,0,1,7.38,8.28c2.86-.13,5.74-.19,8.62-.19s5.76.06,8.62.19h.05c1.71,0,3.33,1.84,3.33,3.79a.76.76,0,0,0,0,.15A30.11,30.11,0,0,1,28,20.61Z"/><path d="M20.79,15.51l-7.14-3.68a1,1,0,1,0-.92,1.78l5.43,2.79-4,2.07V16.4a1,1,0,0,0-2,0v3.72a1,1,0,0,0,1,1,1,1,0,0,0,.46-.11l7.14-3.72a1,1,0,0,0,.54-.89A1,1,0,0,0,20.79,15.51Z"/></g></svg>
    </a>
</div>
    <div class="player">
        <div class="details">
            <div class="now-playing slide-in"></div>
            <div class="track-art slide-in"></div>
            <div class="track-name slide-in"></div>
        </div>

        <div class="buttons">
            <div class="prev-track" onclick="prevTrack()">
                <i class="fa fa-step-backward fa-2x slide-in"></i>
            </div>
            <div class="playpause-track" onclick="playPauseTrack()">
                <i class="fa fa-play-circle fa-5x slide-in"></i>
            </div>
            <div class="next-track" onclick="nextTrack()">
                <i class="fa fa-step-forward fa-2x slide-in"></i>
            </div>
        </div>

        <div class="slider-container">
            <div class="current-time slide-in">0:00</div>
            <input type="range" min="1" max="100" value="0" class="seek-slider slide-in" onchange="seekTo()">
            <div class="total-duration slide-in">0:00</div>
        </div>

        <div class="slider-container">
            <i class="fa fa-volume-down slide-in"></i>
            <input type="range" min="1" max="100" value="50" class="volume-slider slide-in" oninput="setVolume()">
            <i class="fa fa-volume-up slide-in"></i>
        </div>
    </div>
{% include section-end.html %}
