<button id="hamburgerMenu">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</button>
<nav id="navbar" class="shadow">
  <div id="navbarLinks">
    <a id="nbhome" href="#home" onclick="ChangePage('home')">HOME</a>
    <a id="nbabout" href="#about" onclick="ChangePage('about')">ABOUT</a>
    <a id="nbmusic" href="#music" onclick="ChangePage('music')">MUSIC</a>
    <a id="nbshows" href="#shows" onclick="ChangePage('shows')">SHOWS</a>
    <a id="nbcontact" href="#contact" onclick="ChangePage('contact')">CONTACT</a>
  </div>
</nav>