<button id="hamburgerMenu">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</button>
<nav id="navbar">
  <div id="logo">
    <a href="#home">
      <img src="/assets/images/walkingBearWhiteSvg.svg" />
    </a>
  </div>
  <div id="navbarLinks" class="header-font">
    <a id="nbabout" href="#about">ABOUT</a>
    <a id="nbmusic" href="#music">MUSIC</a>
    <a id="nbshows" href="#shows">SHOWS</a>
    <a id="nbcontact" href="#contact">
      <button id="btn-contact">CONTACT</button>
    </a>
  </div>
</nav>