{% include section-start.html name="shows" header-white="Come see us" header-primary="Live" darken-image=true %}
    {% for show in site.data.shows %}
    <div class="show">
        <div>
            <h3 class="show-location bold-font">{{ show.location }}</h3>
            <p class="show-address thin-font sub-text">{{ show.address }}</p>
        </div>
        <div class="show-date">
            <h4 class="thin-font">{{ show.date | date: '%A, %B %-d, %Y' }}</h4>
        </div>
        <div class="show-tickets">
            <a href="{{ show.tickets-link }}" target="_blank">
                <button {% if show.passed %} disabled {% endif %}>TICKETS</button>
            </a>
        </div>
    </div>
    {% endfor %}
{% include section-end.html %}