#about {
    background-image: url(/assets/images/live1.jpg);
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

#about .section-header {
    text-align: left;
    margin-bottom: 0;
}

#about .section-header, #band-about {
    width: 45%;
    margin-left: auto;
}

#band-about {
    padding-block: 60px;
    line-height: 40px;
}

#band-members-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem 10rem;
}

.band-member {
    width: 21rem;
}

.band-member-picture {
    border-radius: 5px;
    background-color: white;
}

.band-member-name {
    font-size: 2.5rem;
}

.band-member-name-and-instrument {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-block: .5rem;
}

@media screen and (max-width: 800px) {
    #about .section-header {
        text-align: center;
    }

    #about .section-header, #band-about {
        width: 100%;
    }
}