#contact {
    background-image: linear-gradient(to bottom right, #060606, #141414);
    box-shadow: 0 0 20px 3px black;

    // Will add this back in when the About section is ready.
    // background-image: url(/assets/images/live2.jpg);
    // background-size: contain;
    // background-attachment: fixed;
}

#contact-form label {
    font-size: 2rem;
}

#contact-form input, #contact-form textarea {
    font-size: 1.5rem;
}

#email-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin-bottom: 3rem;
}

#email {
    height: 3rem;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
}

#message-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

#message {
    height: 6rem;
    border-radius: 10px;
    padding: 10px;
    resize: vertical;
}

#send-message {
    margin-bottom: 2rem;
}

@media (max-width: 800px) {
    #email-wrapper {
        width: 100%;
    }
}