#contact {
    background: var(--primary-color-gradient);
}

#contact-sub-header {
    text-align: center;
    margin-bottom: 2rem;
}

#contact-form {
    max-width: 800px;
    margin: auto;
}

#email-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

#message-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
}

@media (max-width: 800px) {
    #email-wrapper {
        width: 100%;
    }
}