#header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 115px;
    grid-template-areas: 'socials smallLogo navbar';
}

#socials {
    grid-area: socials;
}

#smallLogoWrapper {
    grid-area: smallLogo;
}

#smallLogo {
    object-fit: contain;
}

#smallLogo > img {
    height: 100%;
    width: 100%;
}

nav {
    grid-area: navbar;
}

@media (max-width: 800px) {
    #header {
        grid-template-columns: auto;
        grid-template-rows: 115px auto auto;
        grid-template-areas: 'smallLogo'
                             'socials'
                             'navbar';
    }

    #smallLogoWrapper {
        display: flex;
        justify-content: center;
    }

    #smallLogo > img {
        width: auto;
    }
}