#header {
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-rows: auto;
    grid-template-areas: 'smallLogo navbar';
}

#smallLogoWrapper {
    grid-area: smallLogo;
    height: var(--headerHeight);
    min-height: var(--headerMinHeight);
    padding: 0 40px;
}

#smallLogo {
    object-fit: contain;
}

#smallLogo > img {
    height: 100%;
}

nav {
    grid-area: navbar;
}

@media screen and (max-width: 800px) {

    #header {
        grid-template-columns: 1fr;
        grid-template-rows: #{"max(var(--headerHeight), var(--headerMinHeight))"};
        grid-template-areas: 'smallLogo'
                             'navbar';
    }

    #smallLogoWrapper {
        display: flex;
        justify-content: center;
    }
}