#header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'socials smallLogo navbar';
}

#socials {
    grid-area: socials;
}

#smallLogoWrapper {
    grid-area: smallLogo;
    height: var(--headerHeight);
    padding: 10px;
}

#smallLogo {
    object-fit: contain;
}

#smallLogo > img {
    height: 100%;
    width: 100%;
}

nav {
    grid-area: navbar;
}

@media screen and (max-width: 800px) {
    #header {
        grid-template-columns: auto;
        grid-template-rows: calc(#{"max(var(--headerHeight), var(--headerMinHeight))"} * 0.7) calc(#{"max(var(--headerHeight), var(--headerMinHeight))"} * 0.3) auto;
        grid-template-areas: 'smallLogo'
                             'socials'
                             'navbar';
    }

    #smallLogoWrapper {
        display: flex;
        justify-content: center;
        height: calc(var(--headerHeight) * 0.7);
        min-height: calc(var(--headerMinHeight) * 0.7);
    }

    #smallLogo > img {
        width: auto;
    }
}