#home {
    background-image: url("/assets/images/20211123223517_IMG_3129.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#homeFlex {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    gap: 5vh;
}

#homeFlex > * {
    flex-grow: 1;
}

#smallLogoWrapper {
    display: flex;
    align-items: center;
}

#smallLogo {
    object-fit: contain;
}

#smallLogo > img {
    width: clamp(10rem, 50vw, 20rem);
}

#newsBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding-block: 3em;
    width: clamp(300px, 80vw, 40rem);
    margin: 0 auto;
}

#newEP {
    font-weight: 400;
}

#hibernation {
    font-weight: bold;
    font-family: 'Crimson Text', Arial, sans-serif;
    font-size: 2rem;
    margin: 2rem 0;
    color: var(--secondaryColor);
}

@media screen and (max-width: 800px) {

    #header {
        flex-direction: column;
    }

    #smallLogoWrapper {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 800px) {
    #hibernation {
        font-size: 5rem;
    }

    #smallLogoWrapper {
        margin-top: 4rem;
    }
}