#home {
    background-image: url("/assets/images/heroBackground.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

@media screen and (max-width: 800px) {

}

@media (min-width: 800px) {

}
