* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  transition: opacity 1s ease-in-out, min-height 1s ease-in-out;
}

:root {
  --primary-color: #0e1524;
  --primary-color-darker: #060e1e;
  --secondary-color: #BBA147;
  --blue-frosted-glass-background-color: rgba(6, 14, 30, 0.5);
  --yellow-frosted-glass-background-color: rgba(187, 161, 71, 0.5);
  --border-radius: 5px;
}

html {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: white;
  scroll-behavior: smooth;
  letter-spacing: .25ch;
}

html, input {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

input, textarea {
  border: none;
  font-size: 1rem;
  letter-spacing: .2ch;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', serif;
  font-weight: 400;
  letter-spacing: .2ch;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 3.157rem;
  line-height: 60px;
}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

p {
  font-weight: 300;
  letter-spacing: .2ch;
  line-height: 30px;
}

button, input[type=submit] {
  font-family: 'Yanone Kaffeesatz', serif;
  height: 4rem;
  width: 100%;
  background: none;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
  padding-block: 1rem;
  font-weight: bold;
  letter-spacing: .4rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all ease-in-out .2s;
  text-transform: uppercase;
}

button:hover, input[type=submit]:hover {
  background-color: var(--secondary-color);
  color: white;
}

button:disabled, input[type=submit]:disabled {
  cursor: default;
  border: none;
  background-color: #242424;
  color: grey;
  cursor: not-allowed;
}

textarea {
  font-family: inherit;
}

small, .text_small {font-size: 0.8rem;}

.italics {font-style: italic;}

.grey {color: grey;}

.sub-text {
  font-weight: 300;
  font-style: italic;
  color: grey;
}

.header-font {
  font-family: 'Yanone Kaffeesatz', serif;
}

.sub-header-font {
  font-family: 'Raleway', sans-serif;
  font-variant: small-caps;
  letter-spacing: .5ch;
  line-height: 40px;
  font-size: 20px;
}

.paragraph-font {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.show {
  display: block;
}

.hidden {
  display: none;
  opacity: 0;
}

.black-frosted-glass {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

.blue-frosted-glass {
  backdrop-filter: blur(5px);
  background-color: var(--blue-frosted-glass-background-color);
}

.yellow-frosted-glass {
  backdrop-filter: blur(5px);
  background-color: var(--yellow-frosted-glass-background-color);
}

.section-container {
  padding: 5vh 7vw;
  max-width: 1600px;
  margin: 0 auto;
}

.section-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.shadow {
  box-shadow: 0 0 20px 3px black;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.thin-font {
  font-weight: 300;
}

.regular-font {
  font-weight: 400;
}

.bold-font {
  font-weight: bold;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.darken-image {
  background: linear-gradient(90deg, #000000 2.96%, rgba(0, 0, 0, 0.772914) 56.77%, rgba(0, 0, 0, 0) 100%);
  min-height: inherit;
}

// scroll bar
/* width */
::-webkit-scrollbar {
  background-color: white;
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  transition: all .5s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(117, 115, 9);
}

@media (max-width: 800px) {
  // h1 {
  //   margin-top: 0;
  //   font-size: 2.488rem;
  // }
  
  // h2 {font-size: 2.074rem;}
  
  // h3 {font-size: 1.728rem;}
  
  // h4 {font-size: 1.44rem;}
  
  // h5 {font-size: 1.2rem;}

  // h6 {font-size: 1rem;}

  .darken-image {
    background: rgba(0,0,0,0.7);
  }

  button, input[type=submit] {
    width: 100%;
  }
}