* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-color: #3668D3;
  --primary-color-darker: #060e1e;
  --secondary-color: #BBA147;
  --blue-frosted-glass-background-color: rgba(6, 14, 30, 0.5);
  --yellow-frosted-glass-background-color: rgba(187, 161, 71, 0.5);
}

html {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  //font-family: 'Crimson Text', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: white;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

.italics {font-style: italic;}

.grey {color: grey;}

.sub-text {
  font-weight: 300;
  font-style: italic;
  color: grey;
}

.serif-font {
  font-family: 'Roboto Slab', serif;
}

p {
  font-weight: 300;
  letter-spacing: .1ch;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.black-frosted-glass {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

.blue-frosted-glass {
  backdrop-filter: blur(5px);
  background-color: var(--blue-frosted-glass-background-color);
}

.yellow-frosted-glass {
  backdrop-filter: blur(5px);
  background-color: var(--yellow-frosted-glass-background-color);
}

.section-container {
  padding: 5vh 4vw;
  max-width: 1400px;
  margin: 0 auto;
}

.section-header {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: .5em;
}

.shadow {
  box-shadow: 0 0 20px 3px black;
}

.split {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.thin-font {
  font-weight: 300;
}

.regular-font {
  font-weight: 400;
}

.bold-font {
  font-weight: bold;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

// scroll bar
/* width */
::-webkit-scrollbar {
  background-color: white;
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  transition: all .5s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(117, 115, 9);
}

@media (max-width: 800px) {
  h1 {
    margin-top: 0;
    font-size: 1.802rem;
  }
  
  h2 {font-size: 1.602rem;}
  
  h3 {font-size: 1.424rem;}
  
  h4 {font-size: 1.266rem;}
  
  h5 {font-size: 1.125rem;}
}