body {
    min-height: 100vh;
}

#header {
    height: var(--headerHeight);
    min-height: var(--headerMinHeight);
    width: 100vw;
    background-color: var(--primaryColorDarker);
    box-shadow: 0 -5px 20px black;
    position: fixed;
    z-index: 2;
    transition: max-height 1s ease-in-out;
}

#body {
    position: relative;
    top: #{"max(var(--headerHeight), var(--headerMinHeight))"};
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: calc(100vh - var(--headerHeight));
}

#content {
    background-image: url("../images/blueBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    max-width: 1000px;
    box-shadow: 0 0 10px #5a5a5a;
    padding: 10px;
}

section {
    display: none;
}

.show {
    display: block;
}