#music {
    height: 900px;
    background-image: url("/assets/images/20211123224359_IMG_3158.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: grid;
    justify-content: center;
}