#music {
    // background-image: url("/assets/images/20211123224359_IMG_3158.jpg");
    background-color: black;
    box-shadow: 0 0 20px 3px black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: grid;
    justify-content: center;
}

.player {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: URL("/assets/images/habitatCoverArt.jpg");
    background-size: cover;
    background-position: center;
}

.now-playing {
    font-size: 1rem;
}

.track-name {
    font-size: 3rem;
}

.track-artist {
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1;
}

.slider-container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek-slider, .volume-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.seek-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.seek-slider:hover,
.volume-slider:hover {
    opacity: 1;
}

.seek-slider {
    width: 60%;
}

.volume-slider {
    width: 30%;
}

.current-time,
.total-duration {
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}