#navbar {
    position: fixed;
    width: 100vw;
    padding-inline: 5vw;
    background-image: linear-gradient(to bottom right, #060606, #141414);
    box-shadow: 0 0 20px 3px black;
    z-index: 3;
    transition: height .5s ease-in-out;
    overflow: hidden;
}

#navbarLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 70rem;
    margin: 0 auto;
    transition: opacity 3s ease-in-out;
}

#navbarLinks > a {
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    padding: 1rem;
    transition: all .25s ease-in-out;
}

#navbarLinks > a:hover {
    color: var(--primary-color) !important;
    font-size: 1.2rem !important;
}

#hamburgerMenu {
    position: fixed;
    top: 25px;
    right: 5vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    border: none;
    z-index: 4;
    background: transparent;
    cursor: pointer;
}

#hamburgerMenu > .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    transition: background-color .25s ease-in-out;
}

@media screen and (max-width: 800px) {
    #navbar {
        height: 80px;
        padding: 0;
        font-size: 1rem;
    }

    #hamburgerMenu {
        display: flex;
    }

    #navbarLinks {
        display: none;
        visibility: hidden;
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding: 10vh 0;
    }

    #navbarLinks > a {
        width: 100%;
        text-align: center;
        padding: 10px;
        flex-grow: 1;
        display: grid;
        align-items: center;
    }

    #navbarLinks.active {
        display: flex;
        visibility: visible;
    }
}