#navbar {
    position: fixed;
    width: 100vw;
    padding: 25px;
    min-height: 100px;
    background: linear-gradient(180deg, rgba(18, 31, 61, 0.8) 0%, rgba(18, 31, 61, 0) 100%);
    z-index: 3;
    transition: height .5s ease-in-out;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50px;
    flex-shrink: 0;
}

#logo > img {
    height: inherit;
}

#navbarLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-width: 70vw;
    transition: opacity 3s ease-in-out;
}

#navbarLinks > a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.4rem;
    transition: all .2s ease-in-out;
}

#navbarLinks > a * {
    letter-spacing: 0.4rem;
}

#navbarLinks > a:hover {
    color: var(--secondary-color) !important;
}

#hamburgerMenu {
    position: fixed;
    top: 30px;
    right: 5vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    border: none;
    z-index: 4;
    background: transparent;
    cursor: pointer;
}

#hamburgerMenu > .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    transition: background-color .25s ease-in-out;
}

#btn-contact {
    padding: 0;
    width: 200px;
    background-color: var(--secondary-color);
    color: white;
}

#btn-contact:hover {
    background-color: white;
    color: var(--secondary-color);
}

@media screen and (max-width: 800px) {

    #navbar {
        display: block;
    }

    #logo {
        position: absolute;
        top: 20px;
        left: 5vw;
    }

    #hamburgerMenu {
        display: flex;
    }

    #navbarLinks {
        display: none;
        visibility: hidden;
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding: 10vh 0;
    }

    #navbarLinks > a {
        width: 100%;
        text-align: center;
        padding: 10px;
        flex-grow: 1;
        display: grid;
        align-items: center;
    }

    #navbarLinks.active {
        display: flex;
        visibility: visible;
    }

    #btn-contact {
        width: 100%;
    }
}