#shows {
    background-color: black;
}

#shows-table {
    width: 100%;
    border-collapse: collapse;
}

#shows-table td {
    padding: 1rem;
    border-bottom: solid white 1px;
}

#shows-table tr:last-child td {
    border-bottom: none;
}