#socials {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2vh;
    width: clamp(300px, 80vw, 40rem);
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

#socials a {
    height: 20px;
    width: 20px;
}

#socials svg {
    width: 20px;
    height: 20px;
    fill: white;
    transition: all .25s ease-in-out;
}

#socials svg:hover {
    fill: var(--secondaryColor);
    transform: scale(1.5, 1.5);

}

.filterWhite {
    filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(110deg) brightness(103%) contrast(103%);
}

#socials > img:hover {
    filter: invert(65%) sepia(65%) saturate(362%) hue-rotate(9deg) brightness(87%) contrast(89%);
}