#socials {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: calc(max(var(--headerHeight), var(--headerMinHeight)) + 2vh);
    right: 2vw;
    height: 30vh;
    max-height: 350px;
    width: fit-content;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

#socials a {
    height: 20px;
    width: 20px;
}

#socials svg {
    width: 20px;
    height: 20px;
    fill: white;
    transition: all .25s ease-in-out;
}

#socials svg:hover {
    fill: var(--secondaryColor);
    transform: scale(1.5, 1.5);

}

.filterWhite {
    filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(110deg) brightness(103%) contrast(103%);
}

#socials > img:hover {
    filter: invert(65%) sepia(65%) saturate(362%) hue-rotate(9deg) brightness(87%) contrast(89%);
}